[Desktop Entry]
Name=T-Chat 
Comment=Run Terminal Chat Application
Exec=gnome-terminal -- "Full Path of run file"
Icon="icon path"
Terminal=false
Type=Application
Path="Dir path of all file"
StartupNotify=false
